{% extends 'Home.html' %}
{% block content %}

{% block title %}Crime report{% endblock %}
<div class="container">    <div class="container-xxl">
        <div class="row">
        <p class="h1">About Us</p>
        <p class="aboutus">
        We are crime management system, providing computerized
        management of crime records. Here a admin/officer can insert records such as criminal's profile, investigation reports,
        FIR's, etc.  Police can use this application to manage
        different crimes and some of the works which is done in police
        station manually, also use the face matching system for which 
        is provided to match and identify registered offenders for ease of investigation.
        Officers are registered to the application for its' use.
         This system helps Police to easily manage documents, complaints and ease their manual
          work and help in investigations. 
        
        
        </p>
        
        
        </div>
        
        
        
        </div>

{% endblock %}